<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout3t</title>
    <link rel="stylesheet" href="/source code/layouts/layout3.css">
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id ="logo"></div>
            <div id="discrption"></div>
        </div>
        <div id="contents">
            <div id="menu"></div>
            <div id="grid-wrap">
            <div class="row">
                <div id="big-box"></div>
                <div class="small box-grid"></div>
                <div class="small box-grid"></div>
                <div class="small box-grid"></div>
                <div class="small box-grid"></div>
                <div class="small box-grid"></div>
                <div class="small box-grid"></div>
                <div class="small box-grid"></div>
                <div class="small box-grid"></div>
            </div>
            <div class="row">
                <div class="small"></div>
                <div class="small-bott"></div>
                <div class="small-bott"></div>
                <div class="small-bott"></div>
                <div class="small-bott"></div>
                <div class="small-bott"></div>
                <div class="small"></div>
                <div class="small-bott"></div>
                <div class="small-bott"></div>
                <div class="small-bott"></div>
                <div class="small-bott"></div>
                <div class="small-bott"></div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>