<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/source code/layouts/layout5.css">
</head>
<body>
    <div id="icon-bar">
        <span class="icon-box" id="insta"></span>
        <span class="icon-box" id="linkedin"></span>
        <span class="icon-box" id="skype"></span>
        <span class="icon-box" id="caller"></span>
        <span class="icon-box" id="twitter"></span>
        <span class="icon-box" id="snap"></span>
    </div>
</body>
</html>